body {
    font-family: "Courier New", Courier, monospace;
    font-weight: 100;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    
    background-color: #1a1a1a;
    color: #fff;
    transition: background-color 0.3s;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  section {
    width: 600px;
    height: auto;
  }
  
  h1 {
    margin-top: 35px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2.2px;
    word-spacing: 2px;
    color: #ff8c00;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    font-size: 25px;
    letter-spacing: 2.2px;
    word-spacing: 2px;
    color: #fc9e2b;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: bold;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    margin-top: 0px;
    font-size: 15px;
    letter-spacing: 2.2px;
    word-spacing: 2px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: bold;
    text-transform: uppercase;
  }
  
  p {
    text-indent: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
  }

  .wrapper {
    border: 2px solid #333;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 30px;
  }